<!-- portfolio -->
<div class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2><strong class="yellow">PORTFOLIO</strong><br> CHOOSE A PROFESSIONAL DESIGN</h2>
                    <span>Websites</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrib</p>
                </div>
            </div>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide portfolio_Carousel " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption ">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf1.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf2.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf3.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf4.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf1.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf2.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf3.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf4.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf1.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf2.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf3.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="portfolio_img">
                                    <img src="{{ asset('sites/default/assets/images/potf4.jpg') }}" alt="#" />
                                    <div class="middle">
                                        <div class="text2">View More</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- end portfolio section -->